@tailwind base;
@tailwind components;
@tailwind utilities;

.login-container {
	margin: flex;
	width: 500px;
	padding: 20px;
	background-color: #f0f0f0;
	border-radius: 10px;
	box-shadow: 0 0 10px #999;
}

h1 {
  font-family: 'Arial Narrow Bold';
	text-align: center;
	
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
}

label {
  cursor:pointer;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="text"],
input[type="password"] {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px #999;
}

button[type="submit"] {
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #3e8e41;
}
.quiz-container {
	margin: 50px auto;
	width: 500px;
	padding: 20px;
	background-color: #f0f0f0;
	border-radius: 10px;
	box-shadow: 0 0 10px #999;
}

#submit {
	display: block;
	margin: 20px auto;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

#submit:hover {
	background-color: #3e8e41;
}

.layout{
	margin: 100px;
	background-color: #4CAF50;
}