@tailwind base;
@tailwind components;
@tailwind utilities;



button[type="signout"]{
	font-size: 20px;
	align-self:flex-end;
}
p[type="brand"]{
	text-align: left;
	font-size: 30px;
	width: fit-content;
	text-shadow: 1px 1px 20px black;
}

.login-container[type="cont"]{
	margin-top: 100px;
}


.login-container {

	margin: auto;
	width: 500px;
	padding: 20px;
	background-color: #eed8ff;
	border-radius: 10px;
	box-shadow: 2px 1px 7px #000000;
	background-image: linear-gradient(#eed8ff ,#ce8eff 150px,#eed8ff );

}
.navbar{
	padding-right: 12%;
	margin:10px;
	padding-left: 12%;
}


h1 {
  font-family: fantasy;
	text-align: center;
	font-size: 30px;
	letter-spacing: 4px;
	padding:auto;
	font-weight: 500;
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
	align-self: start;
}

label {
	padding: 10px 100px;
	background-color: #732fc7;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

input[type="email"],
input[type="password"] {
	padding: 10px;
	font-family: cursive;
	margin-bottom: 20px;
	border-radius: 10px;
	border: none;
	box-shadow: 1px 1px 5px #999;
}

button[type="submit"] {
	align-self: center;
	margin-right: auto;
	padding: 10px 20px;
	background-color:#3cdb2a ;
	color: rgb(0, 0, 0);
	border: none;
	border-radius: 10px;
	font-size: 16px;
	font: bold;
	cursor: pointer;
	margin-left: 185px;
	margin-bottom: 15px;
	

}

button[type="submit"]:hover {
	background-color: #3a4244;
	color: #ffffff;
	font-style: italic;
	transition: 0.3s;
	


}

button[type="register1"]
 {
	padding: 10px 20px;
	background-color: #3cdb2a;
	color: rgb(0, 0, 0);
	border-radius: 10px;
	font-size: 16px;
	cursor: pointer;
	transition: 0.2s;
	margin-bottom: 15px;
	margin-left: 25%;
	
}
button[type="register2"] 
{
	padding: 10px 20px;
	background-color: #3cdb2a;
	color: rgb(0, 0, 0);
	border-radius: 10px;
	font-size: 16px;
	cursor: pointer;
	transition: 0.2s;
	margin-bottom: 15px;
	margin-left: 30%;
	
}

button[type="register1"]:hover {
	background-color: #3a4244;
	color: #ffffff;
	font-style: italic;
}
button[type="register2"]:hover {
	background-color: #3a4244;
	color: #ffffff;
	font-style: italic;
}
.quiz-container {
	margin: 50px auto;
	width: 500px;
	padding: 20px;
	background-color: #f0f0f0;
	border-radius: 10px;
	box-shadow: 0 0 10px #999;
}


#submit {
	display: block;
	margin: 20px auto;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}





.layout{
	margin: 100px;
	background-color: #39d03e;
}
h2{
	font-size: 45px;
	text-align: center;
	transform: translateY(-210px);
}
li[type="list"]
{
	font-size: 25px;
	
}
li[type="list"]:hover
{
		  
	color: #3cdb2a;
	text-shadow: 2px 2px 10px black;
	transition: 0.2s;
	
}
button[type="option"]{
	padding: 5px;
	display: flex;
	align-items: center;
	gap:10px;
	font-size: 23px
}

button[type="option"]:hover{
	color:#3cdb2a
}
  